astra-token: AstraCS:Your_Long_Astra_Token_Would_Go_Here......................................................
astra-database-id: Your_Astra_Database_ID_Goes_Here....
astra-timeout: 30s # if you are working from a home/remote network, this longer timeout can help
bind: 127.0.0.1:9042
rpc-address: 127.0.0.1
data-center: Your_DC_Name_Here
track-usage: true # true if you want to track usage for Astra estimates
usage-keyspace: The_Keyspace_Where_You_Want_to_Track_Metrics # this must already exist
# USAGE TRACKING DEFAULTS
# usage-table: astra_usage_stats        # the proxy will create this table for you but the astra-token above must have permissions to do so
# usage-track-system: false
# usage-rru-bytes: 4096
# usage-wru-bytes: 1024
# usage-flush-seconds: 60
# usage-histograms-table: astra_usage_histograms   # the proxy will create this table for you but the astra-token above must have permissions to do so
#
# peers:
#   - rpc-address: 127.0.0.1
#     data-center: us-east4
#   - rpc-address: 127.0.0.2
#     data-center: dc-2
# ...
